<!DOCTYPE html>
<html>
<head>
  <title>Suscribir</title>
  <%= stylesheet_link_tag    "suscribir/application" %>
  <%= javascript_include_tag "suscribir/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
