= render 'columna'
.center
  %p.alerta
    ¡Atención!  Estás a punto de cancelar tu suscripción a
    %b= @suscripcion.suscribible.nombre_suscripcion
    %br
    ¿Estás seguro de que quieres hacerlo?
    = form_for @suscripcion, url: desuscribir_path(@suscripcion.id, params[:token]), html: { method: :delete, class: 'form-baja' } do |f|
      = f.submit "Sí, quiero cancelar mi suscripción", class: 'boton_rojo'
