= render 'web/columna'
.l-desuscripciones
  %section.panel
    %header.panel-header.arrow
      Suscripción confirmada
    %section.panel-content
      %h1 Bienvenido de nuevo a tu suscripción a #{ @suscribible.nombre_suscripcion }
      %p Ha pasado poco tiempo pero ya te estabamos echando de menos.
      %p ¡Gracias por suscribirte de nuevo!
