.l-desuscripciones{style: 'background-color: #fff;min-width:340px;max-width:768px;margin: 0 auto;align: center;'}
  .panel
    .panel-header.arrow{style: 'padding: 0.4rem;background-color: #afc6d4;color: #fff;font-size: 1.2em;font-weight: bold;'}
      Suscripción confirmada
    .panel-content{style: 'padding: 0.4rem;background-color: #f4f4f6;border: 1px solid #ccc;border-top: 0;'}
      %h1 Bienvenido de nuevo a tu suscripción a #{ @suscribible.nombre_suscripcion }
      %p Ha pasado poco tiempo pero ya te estabamos echando de menos.
      %p ¡Gracias por suscribirte de nuevo!
